<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<!-- load the properties file: sport.properties -->
	<context:property-placeholder
		location="classpath:sport.properites" />
	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.luv2code.springdemo.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>

	<!-- define the dependency -->

	<bean id="myFortune"
		class="com.luv2code.springdemo.HappyFortuneService"></bean>
	<bean id="myCoach" class="com.luv2code.springdemo.CricketCoach" scope="singleton" init-method="onInit" destroy-method="onDestroy">
		<property name="fortuneService" ref="myFortune"></property>
		<property name="teamName" value="${foo.team}" />
		<property name="emailAddress" value="${foo.email}" />
		
	</bean>


</beans>